.header {

    grid-area: h;
    background-color: lightcyan;
}

.header img {
    width: 50px;
}

/*.header img {*/

/*    width: 100%;*/
/*    !* border: green solid 5px; *!*/
/*}*/
/*.loginBlock {*/
/*    float: right;*/
/*    */
/*}*/
/*.loginBlock a {*/
/*    color: white;*/
/*}*/